 * {
    box-sizing: border-box;
 }                     
 body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
 }                       
 .logo {
    width: 90px;
    margin: 20px;
    margin-right: 950px;
 }                        
 .header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
 }                 
 .header-link {
     color: black;
    border-top: 3px solid transparent;
    padding: 37px 25px;
    display: inline-block;
    text-decoration: none;
 }                      
 .header-link:hover{
     color: #0065FC;
     border-top: 2px solid #0065FC;
    display: inline-block;
 }                     
 .subscribe {
    color: #0065FC;
    font-weight: bold;
 }                       
 .recherche {
     margin-left: 20px;
 }     
               
 .hebergements {
     font-size: 15px;
     margin: 0px;
     font-size: 25px;
 }                       
 .hebergements-describe {
     margin-top: 0px;
     font-size: 19px;
 }                     
 .icone-search {
     background-color: #EFEFEF;
     color: black;
     justify-content: center;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     border: 1px solid #F7F7F7;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;                    
    }
.barre-de-recherche{
    display: flex;
}
.search{
    width: 285px;
    border-left: none;
    border-right: none;
    border: 1px solid #F7F7F7
}
.button-search{
    background-color:#0065FC;
    width: 170px;
    height: 40px;
    border-left: none;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    color: white;
}
.button-search{
    margin-bottom: 0;
    margin-top: 0;
}
.button-search-icone{
    display: none;
}
.filter{
    font-size: 18px;
    display: flex;
    list-style-type: none;
}
.filters{
    align-items: center;
    display: flex;
    list-style: none;
    font-size: 20px;
    cursor: pointer
}
.icone{
    background-color: #D6E7FF;
    width: 45px;
    height: 45px;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 1;
}
.logo-body{
    display: flex;
    font-weight: bolder;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-left: none;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    margin-left: 30px;
}
.accomodation-logo{
    margin-right: 45px;
    margin-left: 25px;
}
.icone-info{
    color: #0065fc;
    border: 2px solid #f2f2f2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-right: 10px;
}
.infos{
    display: flex;
    font-size: 18px;
    align-items: center;
}
.first-section{
    display: flex;
    margin-top:2%
}
.hebergements-a-marseille{
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 66%;
    margin-left: 20px;
}
.title-section1{
    display: flex;
    justify-content: left;
    margin-left: 3%;
}
.accomodation-card,.accomodation-card h3, .accomodation-card p{
    margin: 0%;
    margin-left: 5%;
}
.all-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.card-placement{
    width: 33%;
    padding: 20px;
}
.card-body{
    width: 100%;
    padding: 2%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2);
    background-color: white;
}
.img-hebergements{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}
.buttom-more{
   font-weight: bold;
   font-size: 18px;
   margin-left: 3%;
   margin-bottom: 2%;
}
.les-plus-populaires{
    background-color: #EFEFEF;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
}
.title-section2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    padding: 0 20px;
}
.icone-chart {
    color: black;
    font-weight: bolder;
    font-size: 25px;
}.all-card-popularity{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.card-placement-popularity{
    width: 100%;
}
.card-body-popularity{
    width: 80%;
    padding: 1%;
    background-color: white;   
    border-radius: 20px;
    margin-left: 45px;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2);
    display: flex;
    margin-bottom: 40px;
}
.etoile1{
    color: #0065fc;
}
.etoile2{
    color:#EFEFEF;
}
.stars{
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
}
.stars-popularity{
    display: flex;
    align-items: flex-start;
    margin-left: 2%;
    padding-top: 30px;
}
.img-popularity{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}
.accomodation-card-popularity,.accomodation-card-popularity p,.accomodation-card-popularity h3{
    margin: 0px; 
    margin-left: 2%;
    margin-bottom: 2%;
}
.title-activites{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 4%;
    width: 100%;
    flex: 1 100%;
    margin-left: 20px
}
.activites-a-marseille{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activites-a-marseille .card-placement{
    margin-bottom: 2%;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-body-activitys{
    margin-top: 2%;
    margin-left: 2%;
}
.card-activitys{
    width: 100%;
    height: 450px;
    background-color: white;   
    border-radius: 20px;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2);
}
.img-activitys{
    width: 100%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden; 
    cursor: pointer;
}
.fort-de-pomegues{
    height: 245px;
    background-color: white;   
    border-radius: 20px;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2);
    margin-bottom: 8%;
}
.img-fortdepomegues{
    height: 80%;
}
.iles-du-frioul{
    height: 152px;
    background-color: white;   
    border-radius: 20px;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2);
    margin-top: 8%; 
}
.img-ilesdufrioul{
    height: 75%;
}
.img-parcnational{
    height: 90%;
}
.card-activitys-right{
    height: 200px;
    background-color: white;   
    border-radius: 20px;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2);
    margin-bottom: 16%;
}
.img-activitys-right{
    width: 100%;
    height: 75%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}
.small-cards-activitys{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}
.activites-a-marseille img{
    object-fit: cover;
}
footer{
    background-color:#EFEFEF;
    display: flex;
    font-size: 18px;
}
.about{
    margin-left: 2%;
}
.accomodations{
    margin-left: 23%;
}
.help{
    margin-left: 20%;
}
.link-footer{
    color:black;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 25px;
}
@media all and (max-width:480px) {
    .recherche{
        width: 100%;
    }
    .hebergements{
        display: flex;
        justify-content: left;
        font-size: 19px;
    }
    .hebergements-describe{
        font-size: 16px;
        margin-top: 5px;
    }
    .logo{
        order: 1;
    }
    .header nav{
        order: 3;
        width: 100%;
    }
    .subscribe{
        order: 2;
        margin-right: 20px;
        display: flex;
    }
    .header nav .header-link{
        width: 49%;
        text-align: center;
        border-bottom: 3px solid #EFEFEF;
    }
    .header-link{
        padding: 0;
    }
    .header-link:hover{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    .header{
        justify-content: space-between;
        flex: 1 0 100%;
        flex-wrap: wrap;
    }
    .search{
        width: 200px;
    }
    .button-search{
        display: none;
    }
    .button-search-icone{
        display: flex;
        width: 70px;
        border-radius: 10px;
        background-color:#0065FC;
        height: 40px;
        border-left: none;
        border: 1px solid #0065FC;
        font-size: 20px;
        color: white;
        align-items: center;
        justify-content: center;
    }
    .icone-search{
        width: 80px;
    }
    .filter{
        display: flex;
        flex-wrap: wrap;
        font-weight: normal;
        padding: 0%;
        margin: 0%;
    }
    .filters{
        display: initial;
        margin: 15px 0px 0px 5px;
    }
    .filters p{
        margin-top: 0;
        font-size: 19px;
        font-weight: bold;
    }
    .infos{
        font-size: 15px;
    }
    .logo-body{
        margin-left:5px;
        margin-bottom: 10px;
    }
    .accomodation-logo{
        margin-left:15px;
        margin-right:20px;
        font-size: 15px;
    }
    .first-section{
        flex-direction: column-reverse;
    }
    .les-plus-populaires{
        width: 100%;
        margin: 0px;
    }
    .card-body-popularity{
        width: 85%;
        margin-left: 30px;
    }
    .hebergements-a-marseille{
        width: 100%;
        background: none;
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .card-body{
        box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
    }
    .card-placement{
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    .card-body{
        padding: 1%;
    }
    .activites-a-marseille .card-placement{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 50%;
    }
    .activitys-responsive{
        width: auto;
        height: 250px;
    }
    .img-activitys{
        height: 80%;
    }
    .iles-du-frioul{
        margin: 0;
    }
    .fort-de-pomegues{
        margin-bottom: 10px;
    }
    .card-activitys-right{
        margin-top: 0;
        margin-bottom: 10px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .about{
        margin: 0px 0px 0px 20px;
    }
    .accomodations{
        margin: 0px 0px 0px 20px;
    }
    .help{
        margin: 0px 0px 0px 20px;
    }
}
@media all and (min-width: 180px) and (max-width: 770px){
    .card-placement{
        width: 50%;
    }
    .first-section{
        flex-direction: column-reverse;
    }
    .recherche{
        width: 100%;
    }
    .button-search{
        display: none;
    }
    .button-search-icone{
        display: flex;
        width: 70px;
        border-radius: 10px;
        background-color:#0065FC;
        height: 40px;
        border-left: none;
        border: 1px solid #0065FC;
        font-size: 20px;
        color: white;
        align-items: center;
        justify-content: center;
    }
    .hebergements{
        display: flex;
        justify-content: left;
        font-size: 19px;
    }
    .hebergements-describe{
        font-size: 16px;
        margin-top: 5px;
    }
    .logo{
        order: 1;
        margin-right: 0%;
    }
    .header nav{
        order: 3;
        width: 100%;
    }
    .subscribe{
        order: 2;
        margin-right: 20px;
    }
    .header nav .header-link{
        width: 49%;
        text-align: center;
        border-bottom: 3px solid #EFEFEF;
    }
    .header-link{
        padding: 0;
    }
    .header-link:hover{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    .header{
        justify-content: space-between;
        flex: 1 0 100%;
        flex-wrap: wrap;
    }
    .search{
        width: 600px;
    }
    .button-search{
        width: 50px;
        border-radius: 12px;
    }
    .button-search-icone{
        width: 70px;
    }
    .recherche{
        margin-left: 0px;
        padding-left: 20px;
    }
    .icone-search{
        width: 40px;
    }
    .filter{
        display: flex;
        flex-wrap: wrap;
        font-weight: normal;
        padding: 0%;
        margin: 0%;
    }
    .filters{
        display: initial;
        margin: 15px 0px 0px 5px;
    }
    .filters p{
        margin-top: 0;
        font-size: 19px;
        font-weight: bold;
    }
    .infos{
        font-size: 15px;
    }
    .logo-body{
        margin-left:5px;
        margin-bottom: 10px;
    }
    .accomodation-logo{
        margin-left:15px;
        margin-right:20px;
        font-size: 15px;
    }
    .first-section{
        flex-direction: column-reverse;
    }
    .les-plus-populaires{
        width: 100%;
        margin-left: 0px;
        margin: 0px;
    }
    .card-body-popularity{
        width: 85%;
        margin-left: 30px;
    }
    .title-section1{
        padding-left: 20px;
    }
    .hebergements-a-marseille{
        width: 100%;
        background: none;
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .card-placement{
        width: 82%;
        padding: 0px;
        margin-bottom: 10px;
    }
    .all-card{
        justify-content: space-between;
    }
    .title-activites{
        padding-left: 35px;
        margin-left: 0px;
    }
    .activites-a-marseille .card-placement{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 50%;
    }
    .activitys-responsive{
        width: auto;
        height: 250px;
    }
    .img-activitys{
        height: 80%;
    }
    .iles-du-frioul{
        margin: 0;
    }
    .fort-de-pomegues{
        margin-bottom: 10px;
    }
    .card-activitys-right{
        margin-top: 0;
        margin-bottom: 10px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .about{
        margin: 0px 0px 0px 20px;
    }
    .accomodations{
        margin: 0px 0px 0px 20px;
    }
    .help{
        margin: 0px 0px 0px 20px;
    }
}
    @media all and (min-width: 768px) and (max-width: 1124px){
        .all-card-popularity{
            padding-left: 35px;
        }
        .stars-popularity{
            padding-top: 26px;
        }
        .card-placement{
            width: 30%;
            padding-left: 10px;
            padding-right: 10px;
        }
        .auberge{
            font-size: 13px;
        }
    }
    @media all and (min-width: 770px) and (max-width: 1124px){
        .card-placement{
            width: 50%;
        }
        .first-section{
            flex-direction: column-reverse;
        }
        .recherche{
            width: 100%;
        }
        .button-search{
            display: none;
        }
        .button-search-icone{
            display: flex;
            width: 70px;
            border-radius: 10px;
            background-color:#0065FC;
            height: 40px;
            border-left: none;
            border: 1px solid #0065FC;
            font-size: 20px;
            color: white;
            align-items: center;
            justify-content: center;
        }
        .hebergements{
            display: flex;
            justify-content: left;
            font-size: 19px;
        }
        .hebergements-describe{
            font-size: 16px;
            margin-top: 5px;
        }
        .logo{
            order: 1;
            margin-right: 0%;
        }
        .header nav{
            order: 3;
            width: 100%;
        }
        .subscribe{
            order: 2;
            margin-right: 20px;
        }
        .header nav .header-link{
            width: 49%;
            text-align: center;
            border-bottom: 3px solid #EFEFEF;
        }
        .header-link{
            padding: 0;
        }
        .header-link:hover{
            color: #0065FC;
            border-bottom: 3px solid #0065FC;
        }
        .header{
            justify-content: space-between;
            flex: 1 0 100%;
            flex-wrap: wrap;
        }
        .search{
            width: 250px;
        }
        .button-search{
            width: 50px;
            border-radius: 12px;
        }
        .button-search-icone{
            width: 50px;
        }
        .icone-search{
            width: 40px;
        }
        .filter{
            display: flex;
            flex-wrap: wrap;
            font-weight: normal;
            padding: 0%;
            margin: 0%;
        }
        .filters{
            display: initial;
            margin: 15px 0px 0px 5px;
        }
        .filters p{
            margin-top: 0;
            font-size: 19px;
            font-weight: bold;
        }
        .infos{
            font-size: 15px;
        }
        .logo-body{
            margin-left:5px;
            margin-bottom: 10px;
        }
        .accomodation-logo{
            margin-left:15px;
            margin-right:20px;
            font-size: 15px;
        }
        .first-section{
            flex-direction: column-reverse;
        }
        .les-plus-populaires{
            width: 100%;
            margin: 0px;
        }
        .card-body-popularity{
            width: 85%;
            margin-left: 30px;
        }
        .hebergements-a-marseille{
            width: 85%;
            background: none;
            margin-left: 0px;
            margin-bottom: 15px;
        }
        .card-placement{
            width: 100%;
            padding: 0px;
            margin-bottom: 10px;
        }
        .activites-a-marseille .card-placement{
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            height: 50%;
        }
        .activitys-responsive{
            width: auto;
            height: 250px;
        }
        .img-activitys{
            height: 80%;
        }
        .iles-du-frioul{
            margin: 0;
        }
        .fort-de-pomegues{
            margin-bottom: 10px;
        }
        .card-activitys-right{
            margin-top: 0;
            margin-bottom: 10px;
        }
        footer{
            display: flex;
            flex-direction: column;
        }
        .about{
            margin: 0px 0px 0px 20px;
        }
        .accomodations{
            margin: 0px 0px 0px 20px;
        }
        .help{
            margin: 0px 0px 0px 20px;
        }
    }
    @media all and (min-width: 900px) and (max-width: 1400px){
        .logo{
            margin-right: 650px;
        }
    }